/* Home.css */
.home {
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 94vh;
    padding-inline: 30px;
    background-image: linear-gradient(rgba(0,0,0,0.7),
                        rgba(0,0,0,0.7)), url("../bg2.jpeg")
}

.home-title {
    font-size: 2rem;
    margin-bottom: 10px;
    word-spacing: 1%;
}

.home-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}