/* Navbar.css */
* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: rgb(128, 79, 179);
    color: #fff;
    padding-inline: 45px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-size: 1.8rem;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

.navbar-right {
    display: flex;
    align-items: center;

}

.navbar-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-link:hover {
    text-decoration: underline;
}

.phone-icon{
    margin-right: 8px;
    width: 20px;
    height: 19px;
}